<div class="row header">
  <a routerLink="/"><span class="label nav"><i class="icon fa-home fa-2x nav"></i>&nbsp;Home</span></a>  
  <div class="10u 12u(mobilep)">
    <p class="well">Boiler Database</p>           
  </div>
</div>
<div class="row">
  <div class="2u 12u(mobilep) filters">
    <div *ngIf="filter">
      <h4>Filters<a class="btn" style="float: right;" href="#" (click)="clearFilter()"><i class="fa fa-trash-o"></i></a></h4>
      <hr>
      <div *ngIf="filter.priceMore">
        <label>Less than:</label> <span>{{ filter.priceMore }} &#8378;</span>
      </div>
      <div *ngIf="filter.powerMore">
        <label>Less than:</label> <span>{{ filter.powerMore }} kWh</span>
      </div>
      <div *ngIf="filter.type">
        <label>Type:</label> <span>{{ filter.type }} Combi</span>
      </div>      
    </div>
    <hr class="transparent">
    <label>Price less than: </label>
    <select (change)="priceChanged($event)" value="{{filter.priceMore}}">
      <option value="0">Select Price</option>
      <option value="1000">1000 &#8378;</option>
      <option value="1500">1500 &#8378;</option>
      <option value="2000">2000 &#8378;</option>
      <option value="2500">2500 &#8378;</option>
    </select>
    <hr class="transparent">
    <label>Power less than: </label>
    <select (change)="powerChanged($event)" value="{{filter.powerMore}}">
      <option value="0">Select Power</option>
      <option value="20">20 kWh</option>
      <option value="25">25 kWh</option>
      <option value="30">30 kWh</option>
      <option value="35">35 kWh</option>
    </select>
    <hr class="transparent">
    <label>Type as: </label>
    <select (change)="typeChanged($event)" value="{{filter.type}}">
      <option value>Select Type</option>
      <option value="Hermetic">Hermetic Boiler</option>
      <option value="Condensing">Condensing Boiler</option>
    </select>
  </div>
  <div *ngIf="data" class="9u 12u(mobilep) content-container">    
    <div *ngFor="let boiler of data" class="boiler">
      <div class="visual">
        <img class="image" src="{{ boiler.image }}" alt="" /> 
      </div>
      <div class="content">
        <span>{{ boiler.brand }}</span> <small>{{ boiler.model }}</small>
        <br/>
        <span style="font-style:italic; font-size:0.8em;">{{ boiler.type }}</span>
        <br />
        <div class="left">
          <span>Power:</span> <span>{{ boiler.power }} kWh</span>
        </div>
        <div class="right">
          <span style="font-style:bold">Max-Area:</span> <span>{{ boiler.area }} m<sup>2</sup></span>
        </div>
        <br />
        <div class="left">
          <span style="font-style:bold">Size:</span> <span>{{ boiler.dimension.height }}x{{ boiler.dimension.width }}x{{ boiler.dimension.depth }} cm</span>
        </div>
        <div class="right">
          <span style="font-style:bold">Warranty:</span> <span>{{ boiler.warranty }} years</span>
        </div>
        <br />
        <span style="font-style:bold">Price:</span> <span>{{ boiler.price }} &#8378;</span>
        <div class="right">
          <a class="button colored" href="{{boiler.link}}" target="_blank">Buy</a>
        </div>
      </div>
    </div>
  </div>
  <!-- if we do not have data anyhow we fail we ignore it -->
  <div *ngIf="!data" class="text-center">
      <p class="text-center">Sorry there is nothing to show!!!</p>
  </div>  
</div>
<div id="footer">
  <div class="container 75%">
    <ul class="copyright">
      <li>&copy; Boilers. All rights reserved.</li>
    </ul>
  </div>
</div>